<div class="multi-selection-dropdown-component">
    <div class="caption">
        {{ caption }}
        <p *ngIf="isRequired" class="is-required">*</p>
    </div>
    <div class="input-container" #inputContainerRef>
        <div class="selected-chip" *ngFor="let item of selectedItems">
            <span>{{ item.name }}</span>
            <span (click)="deleteSelectedItem(item)" class="delete-icon-chip">&#10006;</span>
        </div>
        <div class="filter-text-box"  >
            <input type="text"
                #filterInputRef
                autocomplete="off"
                class="filter-text"
                placeholder="filter string"
                [(ngModel)]="filterText"
                [readonly]="!show"
                [ngClass]="{'error-input': worked && (errorMessage != '')}"
                (click)="toggleMenu()"
            />
        </div>
        <div *ngIf="worked && errorMessage" class="error-message">{{ errorMessage }}</div>
    </div>

    <div class="menu-items" #menuItemsRef *ngIf="show">
        <div 
            *ngFor="let s of filteredItems" 
            class="menu-item"
            [ngClass]="isSelected(s) ? 'selected-suggestion' : ''"
            (click)="selectItem(s)"
        >{{ s.name }}</div>
    </div>
</div>